<div class="row form-header container-fluid">
  <div class = "col-md-6 col-md-offset-3">
  <h1 class="text-center"><%= "Hello, #{@user.name.titlecase}" %></h1>
  <p class="text-center">
    <%= link_to "Order Fulfillment Page", user_orders_path(@user), class: "btn btn-primary" %>
    <%= link_to "Add a Product", new_user_product_path(@user), class: "btn btn-default" %>
    <%= link_to "Add a Category", new_category_path, class: "btn btn-default" %>
  </p>

  <table class="table table-striped table-bordered">
    <tr class="active">
      <th>Product</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Edit</th>
      <th>Retire</th>
    </tr>

    <% @products.each do |product| %>
      <tr class="valign">
        <td><a href="<%= product_path(product.id)%>">
          <%= image_tag(product.photo_url, class: "dash-photo") %></a>
          <%= link_to product.name.titlecase, product_path(product) %>
        </td>
        <td class="text-center price">
          <%= number_to_currency(product.price) %>
        </td>
        <td class="text-center">
          <%= product.stock %>
        </td>
        <td class="text-center">
          <%= link_to "Edit", edit_product_path(product), class: "btn btn-default" %>
        </td>
        <td class="text-center">
          <%= button_to retire_helper(product), retire_path(product), method: "patch", class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </table>
  </div>
