<div class="row">
<% products.each do |product| %>
  <div class="col-md-4">
    <div class="thumbnail">
      <div class="product-name">
        <h2><%= product.name %></h2>
      </div>
      <%= link_to image_tag("#{product.photo_url}", class: "img-responsive", size: "100"), product_path(product) %>
      <div class="caption">
        <h3><%= display_dollars(product.price) %></h3>
        <p><%= product_short_description(product) %></p>
        <%= link_to "Details", product_path(product), class: "btn btn-default" %>
        <%= link_to "Add to Cart", add_item_path(product), method: :post, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
</div>
