<div class="container">
<h2> <center><%= label %></center></h2>
  <div class="row">
  <% sort_by.each do |product| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="<%= product_path(product.id)%>">
          <%= image_tag(product.photo_url, class: "img-rounded product-thumb") %>
          <div class="caption">
            <h5 class="pull-right"> <%= number_to_currency(product.price) %></h5>
            <h4><%= product.name %></h4>
            <p><%= link_to("See more about the product", product_path(product.id)) %></p>
        </a>
          <div class="ratings">
            <p class="pull-right"><%= product.reviews.count %> Reviews</p>
            <% if product.reviews.count == 0 %>
              <p>No ratings</p>
            <% else %>
              <p><%= render_stars(avg_rating(product.id)) %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
