<div class="well">
  <div class="row">
    <div class="col-xs-8">
      <h4><%= product.name %></h4>
      <p><%= image_tag("#{product.photo_url}", class: "img-thumbnail")%></p>
    </div>

    <div class="col-xs-4">
      <%= form_for order_item do |f| %>
        <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency order_item.unit_price %></span></h4>
        <div class="row">
          <div class="col-xs-4">
            <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
            <%= f.hidden_field :product_id, value: product.id %>
          </div>
          <div class="col-xs-8 text-right">
            <div class="btn-group">
              <%= f.submit "Update Quantity", class: "btn btn-primary" %>
              <%= link_to "Remove", order_item, { data: { confirm: "Are you sure you wish to delete the product '#{order_item.product.name}' from your cart?" }, method: "delete", class: "btn btn-danger" } %>
            </div>
          </div>
        </div>
        <h4 class="text-right">Total Price: <span style="color: green"><%= number_to_currency order_item.total_price %></span></h4>
      <% end %>
        <% if flash[:error] %>
              <%= flash[:error] %>
        <% end %>
    </div>
  </div>
</div>

<!-- To much logic to the view page need to be somewhere else -->
<% @order = Order.find(session[:order_id]) %>
<% items = @order.order_items %>
<% array = [] %>
<% items.each do |item| %>
  <% item.quantity.to_i %>
  <% array.push(item.quantity.to_i) %>
<% end %>

<% quantity = 0 %>
<h3>Your have <%= array.inject{ |quantity,element| quantity + element} %> items in your shopping bag</h3>
