<table class="table table-striped table-condensed table-hover">
  <tr>
    <th>Quantity</th>
    <th>Item Name</th>
    <th>Seller</th>
    <th>Cost</th>
  </tr>
  <% @order.order_items.each do |item| %>
    <tr>
      <td><%= item.quantity_ordered %></td>
      <td><%= item.product.name %></td>
      <td><%= item.product.seller.username %></td>
      <!-- !L this should use Lindsey's display_dollars helper once it exists! -->
      <td><%= display_dollars(item.total_item_price) %></td>
    </tr>
  <% end %>
  <tr>
    <!-- !L this should use Lindsey's display_dollars helper once it exists! -->
    <th colspan="2">Total:</th>
    <th><%= display_dollars(@order.total_order_price) %></th>
  </tr>
</table>
