<table class="table table-striped table-condensed table-hover">
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Product Total</th>
    <th>Seller</th>
  </tr>
  <% @order.order_items.each do |item| %>
    <tr>
      <td><%= link_to "#{item.product.name}", product_path(item.product.id)  %></td>
      <td><%= item.quantity_ordered %></td>
      <td><%= display_dollars(item.product.price) %></td>
      <td><%= display_dollars(item.total_item_price) %></td>
      <td><%= item.product.seller.username %></td>
    </tr>
  <% end %>
  <tr>
    <th colspan="3">Shipping:</th>
    <th colspan="2"><%= display_dollars(@order.shipping_price) %></th>
  </tr>
  <tr>
    <!-- !L this should use Lindsey's display_dollars helper once it exists! -->
    <th colspan="3">Total:</th>
    <th colspan="2"><%= display_dollars(@order.total_order_price) %></th>
  </tr>
</table>
