<table class="table table-striped table-condensed table-hover">
  <tr>
    <th>Quantity</th>
    <th>Item Name</th>
    <th>Seller</th>
    <th>Cost</th>
    <th>Remove</th>
  </tr>
  <% @order.order_items.each do |item| %>
    <tr>
      <td>
        <% if item.quantity_ordered > 1 %>
          <%= link_to "-", less_item_path(item), method: :patch %>
        <% end %>
        <%= item.quantity_ordered %>
        <% if item.product.has_available_stock? %>
          <%= link_to "+", more_item_path(item), method: :patch %>
        <% end %>
      </td>
      <td><%= link_to item.product.name, product_path(item.product) %></td>
      <td><%= link_to item.product.seller.username, seller_path(item.product.seller) %></td>
      <td><%= display_dollars(item.total_item_price) %></td>
      <td>
        <div class="garbage-icon">
          <%= link_to kill_item_path(item), method: :delete, data: { confirm: item.remove_prompt_text } do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
  <tr>
    <th colspan="3">Total:</th>
    <th colspan="2"><%= display_dollars(@order.total_order_price) %></th>
  </tr>
</table>
