<table>
  <tr>
    <th>Quantity</th>
    <th>Item Name</th>
    <th>Cost</th>
    <th>Remove</th>
  </tr>
  <% @order.order_items.each do |item| %>
    <tr>
      <!-- !L this should use Lindsey's display_dollars helper once it exists! -->
      <td>
        <%= link_to "˅", less_item_path(item), method: :patch %>
        <%= item.quantity_ordered %>
        <%= link_to "˄", more_item_path(item), method: :patch %>
      </td>
      <td><%= link_to item.display_name, product_path(item.product) %></td>
      <td>$<%= item.price / 100.0 %></td>
      <td>
        <%= link_to "x", kill_item_path(item), method: :delete, data: { confirm: item.remove_prompt_text } %>
      </td>
    </tr>
  <% end %>
  <tr>
    <th colspan="2">
      <!-- !L this should use Lindsey's display_dollars helper once it exists! -->
      Total:
    </th>
    <th colspan="1">
      $<%= @order.price / 100.0 %>
    </th>
  </tr>
</table>
