<h2>BUYER INFO</h2>

<ul>
  <li>Name: <%= @order.buyer_name %></li>
  <li>Email: <%= @order.buyer_email %></li>
  <li>Address: <%= @order.buyer_address %></li>
  <li>MasterCard: xxxx-<%= @order.buyer_card_short %></li>
  <li>Expiration: <%= @order.buyer_card_expiration %></li>
</ul>
