<h2>SHIPPING INFO</h2>

<%= form_tag checkout_path, { role: "form", method: :get } do |f| %>
  <div class="form-group">
    <%= label_tag :city, "Shipping City" %>
    <%= text_field_tag :city, nil, { class: "form-control", required: true, placeholder: "Your City" } %>
  </div>
  <div class="form-group">
    <%= label_tag :state, "Shipping State" %>
    <%= text_field_tag :state, nil, { class: "form-control", required: true, placeholder: "Your State" } %>
  </div>
  <div class="form-group">
    <%= label_tag :zip, "Shipping Zipcode" %>
    <%= text_field_tag :zip, nil, { class: "form-control", required: true, placeholder: "Your Zipcode" } %>
  </div>
  <div class="form-group">
    <%= label_tag :country, "Shipping Country" %>
    <%= text_field_tag :country, nil, { class: "form-control", required: true, placeholder: "Your Country" } %>
  </div>

  <%= submit_tag("Submit", class: "btn btn-default") %>
<% end %>
