<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2> Purchaser Information </h2>
    </div>
  </div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <table class="table table-hover table-bordered">
    <tr>
      <th class="active">Purchased By</th>
      <td><%= @buyer.name %></td>
    </tr>
    <tr>
      <th class="active">Email</th>
      <td><%= @buyer.email %></td>
    </tr>
    <tr>
      <th class="active">Mailing Address</th>
      <td><%= "#{@buyer.address}, #{@buyer.city}, #{@buyer.state} #{@buyer.zip}" %></td>
    </tr>
    <tr>
      <th class="active">Credit Card Info</th>
      <td><%= "Last 4 digits: #{@buyer.credit_card} Expiration: #{@buyer.exp}" %></td>
    </tr>
  </table>
    <%= link_to "Back to Orders", user_orders_path(@merchant), class: "btn btn-default" %>
  </div>
</div>
