<div class="page-header">
  <h1>CHECKOUT</h1>
</div>

<%= render "display_nonpending_order_items" %>

<%= link_to "<< Back to cart", cart_path %>

<% if @order.shipping_type %>
  <%= render "display_shipping_info" %>
  <%= link_to "<< Ship to a different location", remove_shipping_path, method: :patch %>
  <%= render "buyer_info_form" %>
<% elsif @response %>
  <%= render "display_shipping_estimate" %>
<% else %>
  <%= render "shipping_estimate_form" %>
<% end %>
