<div class="row no-jumbo form-header">
  <div class="col-md-8 col-md-offset-2">
    <h1> Order Fulfillment </h1>
    </div>
  </div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <table class="table table-hover table-bordered">
    <th class="active">Purchased By</th>
    <th class="active">Product</th>
    <th class="active">Quantity</th>
    <th class="active">Subtotal</th>
    <th class="active">Purchase Date</th>
    <th class="active">Shipped?</th>
    <th class="active">Order Status</th>

    <% @all_items.each do |item| %>
      <tr>
        <td><%= item.order.buyer.name %></td>
        <td><%= link_to item.product.name, product_path(item.product.id) %></td>
        <td><%= item.quantity %></td>
        <td><%= item.total_price %></td>
        <td><%= item.updated_at.strftime("%m/%d/%Y") %></td>
        <% if item.order.status == 'paid' %>
          <td><TBD</td>
        <% end %>
        <td><%= item.order.status %></td>
      </tr>
    <% end %>
  </table>
  </div>
</div>
