<h2><%= @seller.username %> <small><%= @seller.email %></small></h2>

<% if @orders.length > 0 %>
  <table class="table table-striped table-condensed">
    <tr>
      <th>Order #</th>
      <th>Status</th>
      <th>Invoice Total</th>
    </tr>
    <% @orders.each do |order| %>
      <tr>
        <td><%= @order.id %></td>
        <td><%= link_to @order.status, seller_order_path %></td>
        <td><%= @order.order_price %></td>
      </tr>
    <% end %>
  </table>
<% end %>
