<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-2">
      <h2><center>Order Confirmation</center></h2>
      <h3><center>Your Order Was Placed on <%= @order.updated_at.strftime("%m/%d/%Y")%></center></h3>
      <table class="table table-hover table-bordered">
        <tr>
          <th class="active">Product</th>
          <th class="active">Quantity</th>
          <th class="active text-right">Total</th>
        </tr>
        <tr>
          <% @order_items.each do |order_item| %>
            <td><%= link_to "#{order_item.product.name}", product_path(order_item.product_id) %></td>
            <td><%= order_item.quantity %></td>
            <td class="text-right"><%= number_to_currency(order_item.total_price) %></td>
        </tr>
          <% end %>
          <tr><td colspan="3"></td></tr>
          <tr><td colspan="3" class="text-right"> <%= number_to_currency(@total) %> </td></tr>
        <td colspan="3" class="text-right"> <%= @order.status.capitalize %></td>
      </table>

      <h2><center>As always, thank you <%= @order.buyer.name %> for your purchase!</h2>
      </div>
    </div>
  </div>
