<div class="container">
  <div class="row">
    <div class="col-xs-7 col-xs-offset-2">

        <h2><center>Order Confirmation</center></h2>
          <h3><center>Your Order Was Placed on <%= @order.updated_at.strftime("%m/%d/%Y")%></center></h3>

      <% if session[:order_id].nil? == false %>
          <% @order %>
          <% items = @order.order_items %>
          <% array_sum = [] %>

          <% items.each do |item| %>
            <% array_sum.push(item.total_price.to_f) %>
          <% end %>

          <% sum = 0 %>
          <h2>Details</h2>
      <% end %>

      <table class="table table-hover table-bordered">

        <tr>
          <th class="active">Product</th>
          <th class="active">Quantity</th>
          <th class="active text-right">Total</th>
        </tr>
        <tr>
          <% @order_items.each do |order_item| %>
            <td><%= link_to "#{order_item.product.name}", product_path(order_item.product_id) %></td>
            <td><%= order_item.quantity %></td>
            <td class="text-right">$<%= order_item.unit_price * order_item.quantity %></td>
          <% end %>
        </tr>
        <tr>

        <td colspan="3" class="text-right"> $<%= array_sum.inject{ |sum,element| sum + element} %></td>
      </tr>
        <td colspan="3" class="text-right"> <%= @order.status.capitalize %></td>
      </table>

      <h2><center>As always, thank you for your purchase!</h2>
      </div>
    </div>

  </div>
