<div class="row no-jumbo form-header">
  <div class = "col-md-4 col-md-offset-4">
      <h1>Billing Information</h1>
  </div>
</div>
<div class="row">
  <div class = "col-md-4 col-md-offset-4">
    <%= form_for @buyer, url: checkout_path do |f| %>
    <!-- in form_for :buyer, telling us below are in the params[:session] hash -->
    <!-- url for the POST url after they click submit -->
    <%= render partial: "shared/error_messages", locals: { data_type: @buyer } %>
      <div class="form-group">
        <%= f.label :name, class:"required" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email, class:"required" %>
        <%= f.email_field :email, class: "form-control", value: session[:user_id] ? @user.email : "" %>
      </div>

      <div class="form-group">
        <%= f.label :address, class:"required" %>
        <%= f.text_field :address, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :city, class:"required" %>
        <%= f.text_field :city, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :state, class:"required" %>
        <%= f.select :state, us_states, include_blank: "--Select a State--", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :zip, "Zip Code", class:"required" %>
        <%= f.text_field :zip, class: "form-control" %>
      </div>


      <h3>Credit Card Information</h3>
      <div class="form-group">
        <%= f.label :credit_card, "Credit Card Number", class:"required" %>
        <%= f.number_field :credit_card, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :cvv, "Security Code (CVV)", class:"required" %>
        <%= f.number_field :cvv, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :exp, "Expiration Date", class:"required" %>
        <%= f.text_field :exp, class: "form-control", placeholder: "MM/YY" %>
      </div>

      <%= f.hidden_field :order_id, value: session[:order_id] %>

      <%= f.submit "Purchase", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
