<% @products.each do |product| %>
  <p>Name: <%= product.name %></p>
  <p>Description: <%= product.desc %></p>
  <p>Price: <%= product.price %></p>
  <p>On stock:<%= product.stock %></p>
<% end %>
<p>Total: <%= @products.count %></p>
