<div class = "row no-jumbo form-header">
  <div class="col-sm-4 col-sm-offset-5">
    <h2>Add a Product</h2>
  </div>
</div>

<div class="row form-group">
  <%= form_for @product, html: {class: "form"} do |f| %>

  <div class="col-sm-4 col-sm-offset-1">
    <h3>Describe your product</h3>

    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label :description %>
    <%= f.text_area :desc, class: "form-control" %>

    <%= @categories.each do |category| %>
      <%= f.label category.name %>
      <%= f.check_box(:categories, {}, "#{category.name}", "") %>
    <% end %>
  </div>

  <div class="col-sm-3">
    <h3>Add product details</h3>

    <%= f.label :stock %>
    <%= f.number_field :stock, class: "form-control" %>

    <%= f.label :price %>
    <%= f.number_field :price, class: "form-control", step: 0.01 %>

    <%= f.label :photo_url %>
    <%= f.text_field :photo_url, class: "form-control" %>

    <%= f.hidden_field :user_id, value: @user.id %>
  </div>

  <div class="col-sm-4 col-sm-offset-1">
    <%= f.submit "Add Product", class: "btn btn-default" %>
    <% end %>
  </div>
</div>
