  <div class = "row no-jumbo form-header">
    <div class="col-sm-4 col-sm-offset-5">
      <h2>Add a Product</h2>
    </div>
  </div>
  <div class="row form-group">
    <%= form_for @product, html: {class: "form"}, url: products_path do |f| %>
  <div class="col-sm-4 col-sm-offset-1">
    <h3>Describe your product</h3>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>


    <%= f.label :description %>
    <%= f.text_area :desc, class: "form-control" %>
  </div>

  <div class="col-sm-3">
    <h3>Add product details</h3>
    <%= f.label :stock %>
    <%= f.number_field :stock, class: "form-control" %>
    <%= f.label :price %>
    <%= f.number_field :price, class: "form-control" %>

    <%= f.label :photo_url %>
    <%= f.text_field :photo_url, class: "form-control" %>
  </div>

  <div class="col-sm-4">
    <h3>Choose product categories</h3>


  </div>
</div>
  <div class="col-sm-4 col-sm-offset-1">
    <%= f.submit "Add Product", class: "btn btn-default" %>
    <% end %>
  </div>
</div>
