<%= link_to "All products", products_path %>
<table>
  <tr>
    <th>Product name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Reviews</th>
    <th>Photo_url</th>
  </tr>

  <tr>
    <td><%= @product.name %></td>
    <td><%= @product.desc %></td>
    <td><%= @product.price %></td>
    <td><%= @product.stock %></td>
    <td>Reviews</td>
    <td><%= image_tag("#{@product.photo_url}") %></td>
</table>

<div class="row">
<%= form_for @order_item do |f| %>
 <div class="input-group">
   <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
   <div class="input-group-btn">
     <%= f.hidden_field :product_id, value: @product.id %>
     <%= f.hidden_field :order_id %>
     <%= f.submit "Add to Cart", class: "btn btn-primary" %>
   </div>
  </div>
 <% end %>
</div>

<div id="reviews">
  <h3><%= @product.reviews.count %> Reviews</h3>
  <%= render @product.reviews %>

  <% if !session[:user_id] %>
    <h3>Add a review:</h3>
    <%= render "reviews/form" %>
  <% end %>
</div>
