<h1><%= @product.name %></h1>

<%= image_tag "#{@product.photo_url}" %>

<p><%= @product.description %></p>

<h4><%= display_dollars(@product.price) %></h4>

<%= link_to "Add to Cart", add_item_path(@product), method: :post %>

<h3>Reviews</h3>

<h4>Average Rating: <%= @average_rating %></h4>

<%= link_to "Add Review", new_review_path %>

<% @reviews.each do |review| %>
  <ul>
    <li><%= review.rating %></li>
    <li><%= review.description %></li>
  </ul>
<% end %>


<!-- Add stuff for categories?? -->
