<div class="row">
  <div class="col-md-4 col-md-offset-2">
      <%= image_tag(@product.photo_url, class:"img-responsive img-rounded") %>
   </div>

  <div class="col-md-3">
    <h2><%= @product.name %></h2>
    <h3>Description
    <p><small><%= @product.desc %></small></p></h3>
    <p class="text-muted">Categories:
    <%= @product.categories.map {|category| category.name}.join(", ")%></p>

    <h4 class="price"><%= number_to_currency(@product.price) %></h4>

    <%= form_for @order_item do |f| %>
     <div class="input-group">
       <% if @product.stock != 0 %>
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
       <% else %>
          <%= f.number_field :quantity, placeholder: "Item out of stock", class: "form-control" %>
       <% end %>

         <div class="input-group-btn">
           <%= f.hidden_field :product_id, value: @product.id %>
           <%= f.hidden_field :order_id %>
           <% if @product.stock != 0  %>
              <%= f.submit "Add to Cart", class: "btn btn-primary" %>
            <% else %>
              <%= f.submit "Add to Cart", class: "btn btn-primary disabled" %>
           <% end %>
         </div>
        </div>
      <% end %>
    <h4><%= @product.stock %> in Stock </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div id="reviews">
      <h3><%= @product.reviews.count %> Reviews</h3>
      <%= render @product.reviews %>

      <!-- Merchants can only review other people's products -->
      <% unless session[:user_id] == @product.user_id %>
        <h3>Add a review:</h3>
        <%= render "reviews/form" %>
      <% end %>
    </div>
</div>
