<%= link_to "All products", products_path %>
<table>
  <tr>
    <th>Product name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Reviews</th>
    <th>Photo_url</th>
  </tr>

  <tr>
    <td><%= @product.name %></td>
    <td><%= @product.desc %></td>
    <td><%= @product.price %></td>
    <td><%= @product.stock %></td>
    <td>Reviews</td>
    <td><%= image_tag("#{@product.photo_url}") %></td>
  </table>

<div id="reviews">
  <h3><%= @product.reviews.count %> Reviews</h3>
  <%= render @product.reviews %>

  <h3>Add a review:</h3>
  <%= render "reviews/form" %>
</div>
