<h1>Add a Review</h1>

<%= form_for @review, url: "/products/#{@product.id}/reviews/new" do |f| %>
<fieldset>
  <%= f.label :rating %>
  <%= f.text_field :rating %>

  <%= f.label :description %>
  <%= f.text_area :description, in: 1..5, step: 1 %>

  <%= f.hidden_field :product_id, :value => @product.id %>
</fieldset>
  <%= f.submit %>
<% end %>
