<!DOCTYPE html>
<html>
<head>
  <title>Tux</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="jumbotron" id="top">
    <h1>Tux</h1>
    <nav class="navbar"> -
      <%= link_to "Home", root_path %> -
      <%= link_to "All Products", products_path %> -
      <%= link_to "All Categories", categories_path %> -
      <%= link_to "All Sellers", sellers_path %> -
      <% cart_display_text = "Cart" %>
      <%= link_to cart_display_text, cart_path %> -
    </nav>

    <nav> <!-- # TODO: delete this after it's merged :) -->
    <!-- # TODO: Add show/hide display logic -->
      <%= link_to "Login", login_path %>
      <%= button_to "Logout", logout_path, method: :delete %>
    </nav>
  </header>

  <main class="container-fluid">
    <% if flash[:error] %> <!-- # TODO: come back to this (plural vs not) -->
      <h4 class="alert alert-warning"><%= flash[:error] %></h4>
    <% end %>

    <% if flash[:messages] %>
      <h4 class="alert alert-success"><%= flash[:messages] %></h4>
    <% end %>

    <% if flash[:errors] %>
      <h4 class="alert alert-warning"><%= flash[:errors] %></h4>
    <% end %>
    <%= yield %>
  </main>

  <footer>
    <nav class="navbar"> -
      <%= link_to "Top", "#top" %> -
      <%= link_to "Home", root_path %> -
      <%= link_to "All Products", products_path %> -
      <%= link_to "All Categories", categories_path %> -
      <%= link_to "All Sellers", sellers_path %> -
      <%= link_to cart_display_text, cart_path %> -
    </nav>
  </footer>
</body>
</html>
