<!DOCTYPE html>
<html>
<head>
  <title>Bitsy</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">

  <%= render "shared/nav" %>
  <% if flash[:error] %>
  <h4><span class="label label-danger"><%= flash[:error] %></span></h4>
  <% end %>
  <%= yield %>
  <%= render "shared/footer" %>
  </div>
</body>
</html>
